* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarDiv {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #E6B581;
  z-index: 999;
  align-items: center;
}

.navbarDiv * {
  margin-left: 10px;
}

.dashboardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.container > .chartDiv {
  height: 70vh;
}

.chartDiv * {
  margin-bottom: 10px;
}

.chartDiv {
  height: 70vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.smallChart {
  width: 27%;
  height: 40vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 20px;
  transition: all .5s;
  margin: 15px 50px 0px 0px;
  justify-content: space-between;
  padding-bottom: 10px;
}

.smallChart * {
  max-height: 80%;
}

.smallChartEmpty {
  margin: 15px 50px 0px 0px;
  width: 27%;
  height: 40vh;
}

.smallChart:hover {
  border: 1px solid rgba(0, 123, 255, 0.7);
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
  transform: scale(1.03);
}
